@font-face 
    font-family: "PT Serif"
    src: url("PTSerif-Regular.ttf")

@font-face 
    font-family: "PT Sans"
    src: url("PTSans-Regular.ttf")

$primary: #80B5DF
$dark: #191919

$font-sizes: ("1": 1rem, "12": 12px, "14": 14px, "18": 18px, "24": 24px, "36": 36px, "64": 64px, "72": 72px)

$font-family-base: "PT Serif", serif
    
@import "../../node_modules/bootstrap/scss/bootstrap"
