@use 'variables'

html
    overflow: scroll
    overflow-x: hidden
    scroll-behavior: smooth

::-webkit-scrollbar
    width: 0  
    background: transparent


.fs-sans
    font-family: "PT Sans", sans-serif

.text-justify
    text-align: justify